---

---

<section class="card">
  <div class="section-title">Bio</div>
  <div class="bio">
    Hello, I'm Resolved, currently a student of Da Nang University of Science
    and Technology. I'm interested in full-stack web development, strong in
    front-end developing.
  </div>
</section>
