---
function copyDiscord() {
  const el = document.getElementById("discord-item");
  navigator.clipboard.writeText(".resolved");
  el?.classList.add("copied");
  setTimeout(() => el?.classList.remove("copied"), 1200);
}
---

<section class="card">
  <div class="section-title">SNS</div>
  <b style="color:var(--primary);margin-bottom:8px;"
    >You can contact me via SNSes:</b
  >
  <ul class="sns-list">
    <li class="sns-item">
      <img src="/assets/svg/facebook-svgrepo-com.svg" alt="Facebook" />
      <a href="https://www.facebook.com/resolved.man" target="_blank"
        >Nguyễn Hữu Khoa</a
      >
    </li>
    <li class="sns-item discord" id="discord-item" onclick="copyDiscord()">
      <img src="/assets/svg/discord.svg" alt="Discord" />
      <span>.resolved</span>
    </li>
    <li class="sns-item">
      <img src="/assets/svg/X_logo_2023.svg" alt="X/Twitter" />
      <a href="https://x.com/huukhoa004" target="_blank">@huukhoa004</a>
    </li>
    <li class="sns-item">
      <img src="/assets/svg/github.svg" alt="Github" />
      <a href="https://github.com/huukhoa04" target="_blank">Trường Dạ Nguyệt</a
      >
    </li>
    <li class="sns-item">
      <img src="/assets/svg/osu.svg" alt="Osu" />
      <a href="https://osu.ppy.sh/users/11901115" target="_blank"
        >R E S O L V E D</a
      >
    </li>
  </ul>
</section>
